@tailwind base;
@tailwind components;
@tailwind utilities;

html  {
  background: #242d60;
}

body {
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
